#drop{
    size: 24px;
}
.select{
    padding: 7px 9px;
}

#p1{
    font-size: 23px;
    color: darkblue;
}
#p2{
    font-size: 21px;
    color: blue;
}
button {
    width: 80px;
    height: 25px;
    margin: 5px;  
    border-radius: 2px;
}
#d2{
    font-size: 20px;
    color: darkblue;
}
#d3{
    font-size: 29px;
    color: black;
}
#resen {
        width: 180px;
    height: 30px;
    font-size: 15px;
    margin: 10px; 
    border-radius: 2px;
}
#correct{
    width: 280px;
    height: 30px;
    font-size: 15px;
    margin: 10px;
}
#getcorrect{
	 width: 200px;
    height: 30px;
    font-size: 15px;
    margin: 10px; 
    border-radius: 2px;
}
