#p1{
    font-size: 23px;
    color: darkblue;
}
#p2{
    font-size: 20px;
	color: blue;
	}
 button {
    width: 90px;
    height: 30px;
    margin: 5px;  
  }
  #p4{
    font-size: 23px;
    color: darkblue;
}
 #p5{
    font-size: 30px;
    color: black;
 }
#resen {
    width: 160px;
    height: 22px;
    margin: 10px;  
}
